.wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;

  .removeButton {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin-left: auto;
    font-size: 11px;
    background-color: var(--color-primary);
  }
}
