.bottomNavContainer {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  height: 3.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .navButton {
    background-color: transparent;
    border: none;
    color: var(--color-text);

    .navIcon {
      width: 38px;
      height: 38px;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
