:root {
  /* Colors */
  --color-bg: #e5e7eb;
  --color-surface: #fff;
  --color-border: #e5e7eb;

  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-primary: #16a34a;
  --color-primary-soft: #dcfce7;
  --color-accent: #f97316;

  --color-success: #16a34a;
  --color-danger: #ef4444;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.5rem;

  /* Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  /* Shadow */
  --shadow-soft: 0 6px 16px rgba(15, 23, 42, 0.12);
  --shadow-soft-medium: 0 3px 8px rgba(15, 23, 42, 0.12),
    0 8px 22px rgba(15, 23, 42, 0.16);
  --shadow-soft-strong: 0 2px 6px rgba(15, 23, 42, 0.12),
    0 12px 30px rgba(15, 23, 42, 0.18);

  /* Font Fallbacks */
  --font-body-fallback: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-heading-fallback: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --background: var(--color-bg);
  --foreground: var(--color-text);
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    font-size: 17px;
  }
}

body {
  padding: 2rem 1.5rem;
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-body), var(--font-body-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading), var(--font-body), system-ui, sans-serif;
}

button,
input,
select,
textarea {
  font: inherit; /* or at least font-family: inherit; */
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
