.loginWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginBox {
    width: 40%;
    height: 40%;
    border: 1px solid #fff;
  }
}
