.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 96%;
  padding: 20px;
  outline: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.innerContent {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
}
